
.banner {
	overflow: hidden;
	position: relative;
	height: 3.92rem;
	background-color: #fff;
}

.banner-img {
	width: 100%;
	min-height: 100%;
}

.banner .swiper-pagination-bullet-active {
	background-color: #fff !important;
}

.intro {
	padding: 0.13rem;
}

.intro-cell {
	display: flex;
}

.intro-cell:nth-child(n + 2) {
	border-top: 1px solid #E6E6E6;
}

.intro-item {
	box-sizing: border-box;
	padding: 0.1rem;
	width: 50%;
	height: 0.95rem;
}

.intro-item:first-child {
	border-right: 1px solid #E6E6E6;
}

.intro-item-title {
	font-size: 0.35rem;
	font-family: Gotham Rounded;
	font-weight: normal;
	color: #333;
}


.intro-item-title span {
	margin-left: 0.03rem;
	font-size: 0.12rem;
}

.intro-item-text {
	margin-top: 0.05rem;
	max-width: 100%;
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #999;
}

.our-services {
	padding: .35rem 0.13rem;
	background-image: url(../imgs/our_services_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.module-title, .module-title_color-fff {
	position: relative;
	padding-bottom: 0.08rem;
	font-size: 0.20rem;
	font-family: Source Han Sans CN;
	font-weight: 500;
	text-align: center;
}

.module-title {
	color: #262626;
}

.module-title_color-fff, 
.module-title_english-color-fff {
	color: #fff;
}

.module-title::after, 
.module-title_color-fff::after  {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0.5rem;
	height: 0.01rem;
}

.module-title::after {
	background-color: #262626;
}

.module-title_color-fff::after {
	background-color: #fff;
}

.module-title_english, 
.module-title_english-color-fff {
	margin-top: 0.1rem;
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	text-align: center;
	text-transform: Uppercase;
}

.module-title_english {
	color: #999;
}

.our-services-list {
	margin-top: 0.2rem;
	background-color: #fff;
}


.our-services-listItemUl {
	position: relative;
	padding: 0.18rem 0.23rem;
}

.our-services-listItemUl::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 3.05rem;
	height: 0.005rem;
	background-color: #ccc;
}

.our-services-listItem:last-child .our-services-listItemUl::before {
	display: none;
}

.our-services-listItemUlLeft {
	width: 0.57rem;
}

.our-services-listItemUlIcon {
	width: 0,35rem;
	height: 0.35rem;
}

.our-services-listItemUlRight {
	padding-left: 0.16rem;
	border-left: 1px solid #ccc;
}

.our-services-listItemUlTitle {
	font-size: 0.17rem;
	font-family: Source Han Sans CN;
	font-weight: 700;
	line-height: 0.29rem;
	color: #404040;
}

.our-services-listItemUlText {
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.21rem;
	color: #999;
}

.our-services-listItemLiBox {
	display: none;
}

.our-services-listItemLiItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.23rem;
	height: 0.5rem;
	border-bottom: 1px solid #ccc;
}

.our-services-listItemLiItem:last-child {
	border-bottom: 0;
}

.our-services-listItemLiItemTitle {
	font-size: 0.14rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.5rem;
	color: #404040;
}
/* 
.our-services-listItem:hover {
	outline: 1px solid #DC000C;
}

.our-services-listItem:first-child:hover .our-services-listItemUlIcon {
	content: url(../imgs/orl_active_1.png);
}

.our-services-listItem:nth-child(2):hover .our-services-listItemUlIcon {
	content: url(../imgs/orl_active_2.png);
}

.our-services-listItem:nth-child(3):hover .our-services-listItemUlIcon {
	content: url(../imgs/orl_active_3.png);
}

.our-services-listItem:nth-child(4):hover .our-services-listItemUlIcon {
	content: url(../imgs/orl_active_4.png);
}

.our-services-listItem:hover .our-services-listItemUl {
	background-color: #DC000C;
}

.our-services-listItem:hover .our-services-listItemUl::before {
	display: none;
}

.our-services-listItem:hover .our-services-listItemUlTitle,
.our-services-listItem:hover .our-services-listItemUlText {
	color: #fff;
}

.our-services-listItem:hover .our-services-listItemLiBox {
	display: block;
} */

.our-services-listItem_active {
	outline: 1px solid #DC000C;
}

.our-services-listItemUl_active {
	background-color: #DC000C;
}

.our-services-listItemUl_active::before {
	display: none;
}

.our-services-listItemUl_active .our-services-listItemUlTitle, 
.our-services-listItemUl_active .our-services-listItemUlText {
	color: #fff;
}

.left-arrow-icon {
	height: 0.15rem;
}

.services-case {
	padding: 0.35rem 0;
}

.services-case-nav {
	margin-top: 0.05rem;
	overflow-x: scroll;
	white-space: nowrap;
	font-size: 0;
}

.services-case-navItem {
	margin-right: 0.13rem;
	display: inline-block;
	padding: 0.13rem 0.06rem;
	border-bottom: 2px solid transparent;
	font-size: 0.14rem;
	font-family: Source Han Sans CN;
	font-weight: 700;
}

.services-case-navItem:first-child {
	margin-left: 0.33rem;
}

.services-case-navItem_active {
	border-color: #DC000C;
	color: #DC000C;
}

.services-case-list {
	overflow: hidden;
	margin-left: 0.13rem;
	margin-right: 0.13rem;
}

.services-case-btn, 
.news-center-btn {
	width: 3.4rem;
}

.services-case-btn {
	margin: 0.2rem 0.175rem 0;
}


.about-us {
	overflow: hidden;
	padding: 0.35rem 0;
	background-image: url(../imgs/750-1310.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.about-us-nav {
	overflow: hidden;
	margin: 0.2rem 0.3rem 0;
}

.about-us-navItem {
	width: 1.05rem;
	height: 0.35rem;
	background-color: #fff;
	font-size: 0.15rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #262626;
	line-height: 0.35rem;
	text-align: center;
}

.about-us-navItem_active {
	background-color: #DC000C;
	color: #fff;
}

.about-us-article {
	margin: 0.1rem 0.3rem 0;
}

.about-us-articleTitle {
	position: relative;
	padding: 0.15rem 0;
	font-size: 0.2rem;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: #fff;
}

.about-us-articleTitle::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0.25rem;
	height: 1px;
	background-color: #fff;
}

.about-us-articleText {
	margin-top: 0.2rem;
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.23rem;
	color: #fff;
}

.about-us-imgBox {
	margin-top: 0.35rem;
	text-align: center;
}

.about-us-img {
	width: 3.4rem;
}

.industry-solutions {
	padding: 0.35rem 0;
	background-image: url(../imgs/750-1130.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.industry-solutions-banner {
	overflow: hidden;
	position: relative;
	margin-top: 0.3rem;
	height: 4.3rem;
}

.industry-solutions-banner .swiper-pagination-bullet-active {
	background-color: #DC000C !important;
}

.industry-solutions-banner .swiper-pagination {
	bottom: 0;
}

.industry-solutions-bannerIntro {
	margin: 0 0.38rem;
}

.industry-solutions-bannerIntroTitle {
	font-size: 0.17rem;
	font-family: Source Han Sans CN;
	font-weight: 700;
	text-align: center;
	color: #262626;
}

.industry-solutions-bannerIntroText {
	margin-top: 0.1rem;
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.21rem;
	text-align: center;
	color: #666666;
}

.industry-solutions-bannerCellBox {
	margin: 0.2rem 0.38rem 0;
}

.industry-solutions-bannerCell {
	height: 1.5rem;
}

.industry-solutions-bannerCell:nth-child(n + 2) {
	border-top: 1px solid #ccc;
}


.industry-solutions-bannerCellItem {
	width: 50%;
}

.industry-solutions-bannerCellItem:first-child {
	height: 100%;
	border-right: 1px solid #ccc;
}

.industry-solutions-bannerCellItemIcon {
	width: 0.4rem;
	height: 0.4rem;
}

.industry-solutions-bannerCellItemTitle {
	margin-top: 0.15rem;
	font-size: 0.15rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #404040;
}

.news-center {
	padding: 0.35rem 0;
}

.news-center-nav {
	overflow-x: scroll;
	margin: 0.2rem 0.13rem 0;
	white-space: nowrap;
	font-size: 0;
}

.news-center-navItem {
	display: inline-block;
	width: 0.78rem;
	height: 0.33rem;
	border: 1px solid #E6E6E6;
	font-size: 0.14rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.35rem;
	text-align: center;
	color: #404040;
	
}

.news-center-navItem:nth-child(n + 2) {
	margin-left: 0.1rem;
}

.news-center-navItem_active {
	border-color: #DC000C;
	background-color: #DC000C;
	color: #fff;
}

.news-center-list {
	margin: 0.2rem 0.13rem 0;
}

.news-center-listItem {
	padding: 0.15rem 0;
	border-bottom: 1px solid #E6E6E6;
}

.news-center-listItemImg {
	width: 1.2rem;
	height: 1rem;
	object-fit: cover;
}

.news-center-listItemInfos {
	flex: 1;
	margin-left: 0.13rem;
}

.news-center-listItemTitle {
	font-size: 0.15rem;
	font-family: Source Han Sans CN;
	font-weight: 700;
	line-height: 0.26rem;
	color: #262626;
}

.news-center-listItemText {
	height: 0.44rem;
}

.news-center-listItemText, 
.news-center-listItemDate {
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.21rem;
	color: #999;
}

.news-center-btn {
	margin: 0.35rem 0.175rem 0;
}