.header {
	overflow: hidden;
	height: 6.03rem;
	background-image: url(../imgs/website_optimization_header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header-title {
	position: relative;
	margin-top: 1.4rem;
	padding-bottom: 0.2rem;
	font-size: 0.24rem;
	font-family: Source Han Sans CN;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.header-title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0.25rem;
	height: 0.02rem;
	background-color: #DC000C;
}

.header-text {
	margin: 0.25rem auto 0;
	width: 3.2rem;
	height: 3.07rem;
	font-size: 0.11rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.23rem;
	color: #fff;
}

.voice {
	text-align: center;
}

.voice-icon {
	width: 0.18rem;
}

.voice-text {
	margin-top: 0.1rem;
	font-size: 0.1rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.17rem;
	color: #fff;
}

.marketing-solution {
	padding: 0.35rem 0 0.26rem;
}

.marketing-solution-cell {
	margin-top: 0.05rem;
	padding: 0 0.05rem;
}

.marketing-solution-cell:first-child {
	margin-top: 0.19rem;
}

.marketing-solution-cellItem {
	padding: 0.1rem;
	width: 1rem;
	height: 1.05rem;
	background-image: url(../imgs/marketing_solution_list_item_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.marketing-solution-cellItemIconBox {
	position: relative;
	padding-bottom: 0.1rem;
	text-align: center;
}

.marketing-solution-cellItemIconBox::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0.25rem;
	height: 0.02rem;
	background-color: #DC000C;
}

.marketing-solution-cellItemIcon {
	width: 0.35rem;
	height: 0.35rem;
}

.marketing-solution-cellItemText {
	margin-top: 0.15rem;
	width: 100%;
	font-size: 0.13rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	text-align: center;
	color: #404040;
}

.marketing-promotion {
	padding: 0.35rem 0.23rem;
	background-image: url(../imgs/marketing_promotion_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.marketing-promotion-nav {
	margin-top: 0.25rem;
}

.marketing-promotion-navItem {
	padding: 0.17rem 0.13rem;
	width: 1.29rem;
	border: 1px solid #fff;
}

.marketing-promotion-navItem_active {
	border-color: #DC000C;
	background-color: #DC000C;
	color: #fff;
}

.marketing-promotion-navItemTitle {
	padding-bottom: 0.08rem;
	border-bottom: 1px solid #fff;
	font-size: 0.16rem;
	font-family: Source Han Sans CN;
	font-weight: bold;
	line-height: 0.27rem;
	color: #fff;
}

.marketing-promotion-navItemText {
	margin-top: 0.08rem;
	font-size: 0.1rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.17rem;
	color: #fff;
	text-transform: Uppercase;
}

.marketing-promotion-services {
	overflow: hidden;
	margin-top: 0.2rem;
	background-image: url(../imgs/marketing_promotion_tabel_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.marketing-promotion-servicesItem {
	float: left;
	width: 50%;
	height: 1.1rem;
}

.marketing-promotion-servicesItemIcon {
	width: 0.35rem;
	height: 0.35rem;
}

.marketing-promotion-servicesItemText {
	margin-top: 0.15rem;
	width: 100%;
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.21rem;
	text-align: center;
	color: #fff;
}

/* 我们可以为您解决哪些问题？ */
.issue {
	padding: 0.35rem 0.13rem;
	background-image: url(../imgs/750-821.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.issue-list {
	overflow: hidden;
	margin-top: 0.17rem;
}

.issue-list-item {
	float: left;
	margin: 0 0.075rem 0.2rem;
	padding: 0 0.15rem;
	height: 0.3rem;
	background-color: rgba(239,240,241,1);
	border: 1px solid #fff;
	border-radius: 0.15rem;
	box-shadow: 0 1px 10px 0 rgba(32, 33, 36, .2);
	font-size: 0.09rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.3rem;
	color: #262626;
}

.issue-btn {
	margin-top: 0.2rem;
}

/* 选择我们的优势 */
.preponderance {
	padding: 0.35rem 0.13rem;
	background-image: url(../imgs/750-1131.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.preponderance-list {
	overflow: hidden;
	margin-top: 0.25rem;
}

.preponderance-list-item {
	float: left;
	box-sizing: border-box;
	margin-right: 0.09rem;
	padding: 0.2rem 0.15rem;
	width: 1.7rem;
	height: 2.05rem;
	text-align: center;
	border: 1px solid #fff;
}

.preponderance-list-item:nth-child(2n) {
	margin-right: 0;
}

.preponderance-list-item:nth-child(n + 3) {
	margin-top: 0.09rem;
}

.preponderance-list-itemIcon {
	width: 0.5rem;
	height: 0.5rem;
}

.preponderance-list-itemTitle {
	position: relative;
	margin-top: 0.06rem;
	padding: 0.1rem 0;
	font-size: 0.15rem;
	font-family: Source Han Sans CN;
	font-weight: 500;
	line-height: 0.18rem;
	color: #fff;
}

.preponderance-list-itemTitle::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0.25rem;
	height: 1px;
	background-color: #fff
}

.preponderance-list-itemText {
	margin-top: 0.1rem;
	font-size: 0.1rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 17px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	color: #fff;
}

/* 营销推广相关案例 */
.case {
	padding: 0.35rem 0.13rem;
}

.case-list {
	margin-top: 0.25rem;
}

.case-list-item {
	margin-bottom: 0.15rem;
	background-color: #f7f7f7;
}

.case-list-itemImg {
	width: 100%;
	height: 2.1rem;
	object-fit: cover;
}

.case-list-itemTitle {
	padding: 0 0.1rem;
	height: 0.5rem;
	font-size: 0.17rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.5rem;
	color: #262626;
}

.case-list-moreBtn {
	margin-top: 0.22rem;
	margin-bottom: 0.15rem;
}