.brand {
	overflow: hidden;
	height: 6.03rem;
	background-image: url(../imgs/750-1206.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.brand-title {
	position: relative;
	margin-top: 0.85rem;
	padding: 0.15rem 0;
	font-size: 0.24rem;
	font-family: Source Han Sans CN;
	font-weight: bold;
	line-height: 0.41rem;
	text-align: center;
	color: #fff;
}

.brand-title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0.25rem;
	height: 0.02rem;
	background-color: #DC000C;
}

.brand-service {
	overflow: hidden;
	margin: 0.25rem auto 0;
	width: 3rem;
	background-color: rgba(0,0,0,0.6);
}

.brand-service-item {
	float: left;
	width: 1.49rem;
	height: 1.3rem;
	border-bottom: 1px solid #fff;
}


.brand-service-item:nth-child(2n + 2) {
	border-left: 1px solid #fff;
}

.brand-service-item:last-child, .brand-service-item:nth-last-child(2) {
	border-bottom-color: transparent;
}

.brand-service-itemImgBox {
	position: relative;
	padding-bottom: 0.1rem;
}

.brand-service-itemImgBox::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0.2rem;
	height: 0.01rem;
	background-color: #fff;
}

.brand-service-itemImg {
	width: 0.35rem;
	height: 0.35rem;
}

.brand-service-itemTitle {
	margin-top: 0.1rem;
	font-size: 0.15rem;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: #fff;
}

.brand-service-itemText {
	margin-top: 0.04rem;
	font-size: 0.1rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #fff;
}

.marketing {
	padding: 0.35rem 0.38rem;
	background-image: url(../imgs/marketing_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.marketing-marked-graphBox {
	margin-top: 0.2rem;
	text-align: center;
}

.marketing-marked-graph {
	width: 0.45rem;
}

.marketing-data {
	overflow: hidden;
	margin-top: 0.2rem;
}

.marketing-data-item {
	float: left;
	width: 1.49rem;
	height: 1.2rem;
}

.marketing-data-item:nth-child(2n + 2) {
	border-left: 1px solid #ccc;
}

.marketing-data-item:nth-child(n + 3) {
	border-top: 1px solid #ccc;
}

.marketing-data-itemTitle {
	font-size: 0.45rem;
	font-family: DustHome;
	font-weight: 700;
	color: #262626;
}

.marketing-data-itemTitle span {
	margin-left: 0.08rem;
	font-size: 0.17rem;
	font-family: Source Han Sans CN;
	font-weight: 700;
	color: #262626;
}

.marketing-data-itemText {
	font-size: 0.14rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.2rem;
	color: #666;
}

.website-design {
	padding: 0.35rem 0.13rem;
	background-image: url(../imgs/website_design_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.website-design-title {
	font-size: 0.2rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.11rem;
	text-align: center;
	color: #fff;
}

.website-design-services {
	overflow: hidden;
	margin-top: 0.2rem;
	background-image: url(../imgs/website_design_services_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.website-design-servicesItem {
	float: left;
	box-sizing: border-box;
	padding: 0.15rem;
	width: 50%;
	height: 1.6rem;
}

.website-design-servicesItemTitle {
	overflow: hidden;
	position: relative;
	padding: 0.1rem 0;
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 700;
	color: #fff;
}

.website-design-servicesItemTitle::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0.25rem;
	height: 0.01rem;
	background-color: #fff;
}

.website-design-servicesItemText {
	overflow: hidden;
	position: relative;
	padding: 0.1rem 0;
	font-size: 0.1rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.17rem;
	text-align: center;
	color: #fff;
}

.advantage {
	padding: 0.35rem 0.18rem;
}

.advantage-services {
	position: relative;
	margin-top: 0.25rem;
	margin-left: 0.14rem;
	width: 3.25rem;
	height: 3.25rem;
	background-image: url(../imgs/650-650@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.advantage-services-item {
	position: absolute;
	max-width: 1.3rem;
	text-align: center;
	font-size: 0;
}

.advantage-services-itemImg {
	width: 0.5rem;
	height: 0.5rem;
}

.advantage-services-itemText {
	margin-top: 0.08rem;
	font-size: 0.13rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.22rem;
	color: #666;
}

.advantage-services-item_1 {
	top: 0.056rem;
	left: 0.3rem;
}

.advantage-services-item_2 {
	top: 0.26rem;
	right: 0.05rem;
}

.advantage-services-item_3 {
	bottom: 0.96rem;
	right: 0.11rem;
}

.advantage-services-item_4 {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.advantage-services-item_5 {
	bottom: 0.85rem;
	left: -0.2rem;
}

.advantage-services-item_5 .advantage-services-itemText {
	width: 1.4rem;
}

.process {
	padding: 0.35rem 0.38rem 0.47rem;
	background-image: url(../imgs/750-990.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.process-list {
	margin-top: 0.3rem;
}

.process-list-itemTitle {
	position: relative;
	padding-bottom: 0.1rem;
	font-size: 0.16rem;
	font-family: Source Han Sans CN;
	font-weight: 700;
	line-height: 0.15rem;
	color: #262626;
}

.process-list-itemTitle::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0.25rem;
	height: 0.01rem;
	background-color: #DC000C;
}

.process-list-itemText {
	margin-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 0.12rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.21rem;
	color: #404040;
}


.process-list-item:nth-child(n + 2) {
	margin-top: 0.25rem;
}

.case {
	padding: 0.35rem 0.18rem 0.5rem;
}

.case-list {
	overflow: hidden;
	margin-top: 0.25rem;
}

.case-btn {
	margin-top: 0.2rem;
}